<h1>Text Creation Form</h1>

<%= form_for @text do |f| %>
  <%= f.label :to_number %>
  <%= f.text_field :to_number %>
  <%= f.label :from_number %>
  <%= f.text_field :from_number %>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <%= f.submit "Send Text" %>
<% end %>
