<h1>Text Creation Form</h1>

<%= form_for @text do |f| %>
  <%= f.label :to_number %>
  <%= f.text_field :to_number %>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <%= f.submit "Send Text" %>
<% end %>

<br>

<hr>

<br>

<%= form_for @text do |f| %>
  <% @contacts.each do |contact| %>
    <input type="checkbox" name=<%= contact.id %> value=<%= contact.number %>><%= contact.name %>
    <br>
  <% end %>
  <%= f.label :body %>
  <%= f.text_field :body %>
  <br>
  <%= f.submit "Send Texts" %>
<% end %>
